/* https://aykevl.nl/2014/09/fix-jumping-scrollbar */
@media screen and (min-width: 55rem) {
	html {
		margin-left: calc(100vw - 100%);
		margin-right: 0;
	}
}

body {
	max-width: 50rem;
	margin: 0 auto;
}

/* small screen */
body:not(.show-nav) #tree {
	display: none;
}

body.show-nav .toggle-nav {
	font-weight: bold;
}

@media (min-width: 40rem) { /* big screen */
	.toggle-nav {
		display: none;
	}
	body:not(.show-nav) #tree {
		display: block;
	}

	#tree {
		max-width: calc(12rem - 15px);
		float: left;
	}

	#main {
		margin-left: 12rem;
	}
}

.nav-item .nav-item .nav-link {
	padding-left: 2rem;
}

.identifier {
	font-family: monospace;
}

.attributes dt.name {
	margin-top: 1rem;
}

#searchresults {
	/* Sorry about this... It is required to correctly position the search box
	 * when using a d-none button to toggle the dropdown. */
	top: initial !important;
	transform: initial !important;
}

#templates {
	display: none;
}
