html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 16px;
	line-height: 24px;
	background-color: #F7F5F3;
	font-family: 'Open Sans', Verdana, Arial, sans-serif;
}

header {
	background: #FFFFFF;
	color: #484747;
	border-bottom: 1px solid #CFE4EF
}

header h1 {
	text-align: center;
	padding: 16px;
}

h1 {
	display: block;
	margin: 0;
	font-size: 18px;
	line-height: 22px;
	padding: 16px 0;
	font-weight: bold;
	font-family: 'Alexandria', Verdana, Arial, sans-serif;
}

.custom-button {
    border: none;
    color: #FFFFFF;
    background: #E12747 url('./images/button-primary.svg') no-repeat right top;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 5px;
}

@media (min-width: 40rem) { /* big screen */
	.toggle-nav {
		display: none;
	}
	body:not(.show-nav) #tree {
		display: block;
	}

	#tree {
		max-width: calc(14rem - 50px);
		float: left;
	}

	#main {
		margin-left: 14rem;
	}
}

.nav-item .nav-item .nav-link {
	padding-left: 2rem;
}

.nav-item .nav-item .nav-item .nav-link {
	padding-left: 3rem;
}

.subtitle {
	font-style: italic;
}

.identifier {
	font-family: monospace;
}

.alert.warning-test {
	clear: right;
}

.attribute.name {
	margin-top: 1.5rem;
	font-size: 1.3rem;
}

#searchresults {
	/* Sorry about this... It is required to correctly position the search box
	 * when using a d-none button to toggle the dropdown. */
	top: initial !important;
	transform: initial !important;
}

#templates {
	display: none;
}

/* h1 {
	margin: 1rem 0;
} */

.items {
	margin-left: 1.5rem;
}
