<!DOCTYPE html>

<html lang="{{ LANG }}">
	<head>
		<meta charset="utf-8"/>
		<title>{% block title %}{% endblock %} - Yivi credentials</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ assets }}/style.css"/>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" defer></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" defer></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>
		<script>
			const INDEX_URL = '{{ assets }}/index.json';
		</script>
		<script src="{{ assets }}/script.js" defer></script>
	</head>
	<body>
		<header>
			<h1>Yivi attributes</h1>
		</header>
		<div class="container mt-5">
			<a class="toggle-nav btn btn-light float-right mt-2" href onclick="return false;">☰</a>
			<ul id="tree" class="nav nav-pills flex-column" role="navigation"/>
				<li class="search dropdown mb-2">
					<input type="search" class="form-control" placeholder="Search..."/>
					<button class="btn d-none dropdown-toggle" data-toggle="dropdown"><!-- dummy, hack --></button>
					<div id="searchresults" class="dropdown-menu"></div>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ "" | active(identifier) }}" href=".">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ "glossary" | active(identifier) }}" href="glossary.html">Glossary</a>
				</li>
				{% for schememgr in index %}
				<li class="nav-item">
					<a class="nav-link {{ schememgr.identifier | active(identifier) }}" href="{{ schememgr.identifier }}.html">{{ schememgr.name[LANG] }}</a>
					<ul class="nav nav-pills flex-column">
						{% for issuerId, issuer in schememgr.issuers.items() | sort %}
						<li class="nav-item">
							<a class="nav-link {{ issuer.identifier | active(identifier) }}" href="{{ issuer.identifier }}.html" title="{{ issuer.name[LANG] }}" data-toggle="tooltip" data-placement="right">{{ issuer.shortName[LANG] }}</a>
							<ul class="nav nav-pills flex-column">
								{% for credentialId, credential in issuer.credentials.items() | sort %}
								<li class="nav-item">
									<a class="nav-link {{ credential.identifier | active(identifier) }}" title="{{ credential.name[LANG] }}" href="{{ credential.identifier }}.html" data-toggle="tooltip" data-placement="right">{{ credential.shortName[LANG] }}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
			<div id="main">
				{% block main %}{% endblock %}
			</div>
		</div>
		<div id="templates">
			<a class="searchresult dropdown-item">
				<div><span class="credential"></span> » <span class="attribute"></span></div>
				<div class="identifier"></div>
			</a>
			<div class="no-searchresult dropdown-item disabled">
				No attributes found
			</div>
		</div>
	</body>
</html>
