{% extends "base.html" %}

{% block title %}{{ credential.identifier }}{% endblock title %}

{% block main %}
	<h2>{{ credential.name[LANG] }}</h2>
	<img class="float-right" src="{{ assets }}/{{ credential.logo }}" width="100"/>
	<p class="subtitle">Credential</p>
	<dl>
		<dt>Credential <a href="glossary.html#identifier">identifier</a>
		<dd class="identifier">{{ credential.identifier }}</dd>
		<dt>Description</dt>
		<dd>{{ credential.description[LANG] }}</dd>
		<dt>Short name</dt>
		<dd>{{ credential.shortName[LANG] }}</dd>
		<dt>Singleton?</dt>
		{% if credential.shouldBeSingleton %}
		<dd>Yes. The IRMA app will only allow one instance of this credential. A newly issued credential will overwrite an existing credential of the same type.</dd>
		{% else %}
		<dd>No. Multiple instances of this credential will be accepted by the IRMA app.</dd>
		{% endif %}
	</dl>
	<h3>Attributes</h3>
	<p>This credential contains the following attributes:</p>
	{% for attribute in credential.attributes %}
	<h4 class="attribute name" id="{{ attribute.identifier }}">{{ attribute.name[LANG] }}</h4>
	<dl>
		<dt>Identifier</dt>
		<dd class="identifier">{{ attribute.identifier }}</dd>
		<dt>Description</dt>
		<dd>{{ attribute.description[LANG] }}</dd>
	</dl>
	{% endfor %}
{% endblock main %}
