{% extends "base.html" %}

{% block title %}{{ credential.identifier }}{% endblock title %}

{% block main %}
	<img class="float-right" src="{{ assets }}/{{ credential.logo }}" width="100"/>
	<h2>{{ credential.name[LANG] }}</h2>
	<p class="subtitle">Credential</p>

	{% if credential.deprecated %}
	<div class="alert alert-warning warning-test"><strong>This credential is deprecated</strong> since {{ credential.deprecated }}:
		users cannot obtain it anymore (although they might still possess old instances).
		When using this credential, please provide users with a non-deprecated alternative.</div>
	{% endif %}

	{% if schememgr.test %}
	<div class="alert alert-warning warning-test"><strong>This is a testing credential.</strong> The issuer's IRMA private key is public, so anyone can issue this credential. Use it for testing and demo purposes only.</div>
	{% endif %}

	<dl>
		<dt>Credential <a href="glossary.html#identifier">identifier</a>
		<dd class="identifier">{{ credential.identifier }}</dd>

		<dt>Description</dt>
		<dd>{{ credential.description[LANG] }}</dd>

		<dt>Singleton?</dt>
		{% if credential.shouldBeSingleton %}
		<dd>Yes. The IRMA app will only allow one instance of this credential. A newly issued credential will overwrite an existing credential of the same type.</dd>
		{% else %}
		<dd>No. Multiple instances of this credential will be accepted by the IRMA app.</dd>
		{% endif %}

		<dt>Revocation?</dt>
		{% if credential.revocation %}
		<dd>Yes. Instances of this credential can be revoked by the issuer.</dd>
		{% else %}
		<dd>No. Instances of this credential cannot be revoked by the issuer.</dd>
		{% endif %}

		<dt>XML source</dt>
		<dd>
			<ul>
				<li><a href="{{ schememgr.url }}/{{ issuer.id }}/Issues/{{ credential.id }}/description.xml">privacybydesign.foundation</a></li>
				<li><a href="{{ schememgr.github }}/{{ issuer.id }}/Issues/{{ credential.id }}/description.xml">github.com</a></li>
			</ul>
		</dd>
	</dl>

	<h3>Attributes</h3>
	<p>This credential contains the following attributes:</p>
	{% for attribute in credential.attributes %}
	<h4 class="attribute name" id="{{ attribute.identifier }}">
		{{ attribute.name[LANG] }}
		{% if attribute.optional %}(optional){% endif %}
		{% if attribute.randomblind %}(randomblind){% endif %}
	</h4>
	<dl class="items">
		<dt>Identifier</dt>
		<dd class="identifier">{{ attribute.identifier }}</dd>
		<dt>Description</dt>
		<dd>{{ attribute.description[LANG] }}</dd>
	</dl>
	{% endfor %}

	{% if schememgr.test %}
	<h3>Issue attributes</h3>
	<p>With this form, you can issue demo attributes of this credential for testing and demonstration
	purposes. (Note that only demo attributes can be issued this way.)</p>
	<form class="diy-credential" data-credential="{{ credential.identifier }}" onsubmit="return false;">
		{% for attribute in credential.attributes if not attribute.randomblind %}
		<div class="form-group">
			<label for="selfissue-{{ attribute.id }}">
				{{ attribute.description[LANG] }}
				(<span class="identifier">{{ attribute.id }}</span>)
				{% if attribute.optional %}(optional){% endif %}
			</label>
			<input type="text" class="form-control" id="selfissue-{{ attribute.id }}" data-attribute="{{ attribute.id }}">
		</div>
		{% endfor %}
		<div id="issue-alert" class="alert alert-success" style="display: none;">
			Issuance successful. The <a href="https://irma.app/docs/revocation/#revocation">revocation key</a>
			of the credential is: <strong><code id="revocation-key" style="color: unset;"></code></strong>
		</div>
		<button type="submit" class="btn btn-primary">Issue</button>
	</form>
	{% endif %}
{% endblock main %}
