{% extends "base.html" %}

{% block title %}{{ credential.identifier }}{% endblock title %}

{% block main %}
	<h2>{{ credential.name[LANG] }}</h2>
	<img class="float-right" src="{{ assets }}/{{ credential.logo }}" width="100"/>
	<p class="identifier">{{ credential.identifier }}</p>
	<p>{{ credential.description[LANG] }}</p>
	<dl>
		<dt>Short name</dt>
		<dd>{{ credential.shortName[LANG] }}</dd>
		<dt>Singleton?</dt>
		{% if credential.singleton %}
		<dd>Yes</dd>
		{% else %}
		<dd>No</dd>
		{% endif %}
	</dl>
	<h3>Attributes</h3>
	<dl class="attributes">
		{% for attribute in credential.attributes %}
		<dt class="name" id="{{ attribute.identifier }}">{{ attribute.name[LANG] }}</dt>
		<dd class="identifier">{{ attribute.identifier }}</dd>
		<dd>{{ attribute.description[LANG] }}</dd>
		{% endfor %}
	</dl>
{% endblock main %}
