{% extends "base.html" %}

{% block title %}Issue Demo Creds{% endblock title %}

{% block main %}
	<h2>Try Demo Credentials</h2>
    <p>In this section you can select an attribute to issue with your desired values, and after scanning the QR code,
       you can access this credential on your phone. These credentials with custom attributes, have no real-life value, But 
       it is a good way to see Yivi in action. In real world implementation, production-ready scheme and issuers are used,
       and values in the attributes are derived from data provided by identity providers and never arbitrary.   
    </p>
{% endblock main %}
