{% extends "base.html" %}

{% block title %}{{ issuer.identifier }}{% endblock title %}

{% block main %}
	<h2>{{ issuer.name[LANG] }}</h2>
	<img class="float-right" width="100" src="{{ assets }}/{{ issuer.logo }}"/>
	<p class="identifier">{{ issuer.identifier }}</p>
	<dl>
		<dt>Short name</dt>
		<dd>{{ issuer.shortName[LANG] }}</dd>
		<dt>Contact</dt>
		<dd><a href="mailto:{{ issuer.contactEmail }}">{{ issuer.contactEmail }}</a></dd>
	</dl>
	<h3>Credentials</h3>
	<dl>
		{% for credentialId, credential in issuer.credentials.items() | sort %}
		<dt><a href="{{ credential.identifier }}.html">{{ credential.name[LANG] }}</a></dt>
		<dd>{{ credential.description[LANG] }}</dd>
		{% endfor %}
	</dl>
{% endblock main %}
