{% extends "base.html" %}

{% block title %}{{ schememgr.identifier }}{% endblock title %}

{% block main %}
	<h2>{{ schememgr.name[LANG] }}</h2>
	<p class="identifier">{{ schememgr.identifier }}</p>
	<p>{{ schememgr.description[LANG] }}</p>
	<dl>
		<dt>Contact</dt>
		<dd><a href="{{ schememgr.contact }}">{{ schememgr.contact }}</a></dd>
		<dt>URL</dt>
		<dd class="url">{{ schememgr.url }}</dd>
	</dl>
	<h3>Issuers</h3>
	<dl>
		{% for issuerId, issuer in schememgr.issuers.items() | sort %}
		<dt><a href="{{ issuer.identifier }}.html">{{ issuer.name[LANG] }}</a></dt>
		{% endfor %}
	</dl>
{% endblock main %}
