{% extends "base.html" %}

{% block title %}{{ schememgr.identifier }}{% endblock title %}

{% block main %}
	<h2>{{ schememgr.name[LANG] }}</h2>
	<p class="subtitle">Scheme manager</p>
	{% if schememgr.test %}
	<div class="alert alert-warning warning-test"><strong>This is a testing scheme manager.</strong> The secret key is public, so anyone can issue credentials from this scheme manager. Use it for testing and demo purposes only.</div>
	{% endif %}
	<dl>
		<dt>Scheme manager <a href="glossary.html#identifier">identifier</a>
		<dd class="identifier">{{ schememgr.identifier }}</dd>

		<dt>Description</dt>
		<dd>{{ schememgr.description[LANG] }}</dd>

		<dt>Contact</dt>
		<dd><a href="{{ schememgr.contact }}">{{ schememgr.contact }}</a></dd>

		<dt>URL</dt>
		<dd class="url">{{ schememgr.url }}</dd>

		<dt>Keyshare server</dt>
		{% if schememgr.keyshareServer %}
		<dd>{{ schememgr.keyshareServer }}</dd>
		{% else %}
		<dd>(none)</dd>
		{% endif %}

		<dt>Keyshare website</dt>
		{% if schememgr.keyshareWebsite %}
		<dd><a href="{{ schememgr.keyshareWebsite }}">{{ schememgr.keyshareWebsite }}</a></dd>
		{% else %}
		<dd>(none)</dd>
		{% endif %}

		<dt>Keyshare attribute</dt>
		{% if schememgr.keyshareAttribute %}
		<dd class="identifier">{{ schememgr.keyshareAttribute }}</dd>
		{% else %}
		<dd>(none)</dd>
		{% endif %}

		<dt>XML source</dt>
		<dd>
			<ul>
				<li><a href="{{ schememgr.url }}/description.xml">privacybydesign.foundation</a></li>
				<li><a href="{{ schememgr.github }}/description.xml">github.com</a></li>
			</ul>
		</dd>
	</dl>
	<h3>Issuers</h3>
	<p>The following issuers are contained in this scheme manager:</p>
	<ul>
		{% for issuerId, issuer in schememgr.issuers.items() | sort %}
		<li><a href="{{ issuer.identifier }}.html">{{ issuer.name[LANG] }}</a></li>
		{% endfor %}
	</ul>
{% endblock main %}
